{% load staticfiles %}
<html>
	<head>
	        <title>Django Pense Imóveis Joinville</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/imoveis.css' %}">
	</head>

	<body>
	    <div class="page-header">
        	<h1><a href="/">Django Pense Imóveis Joinville</a></h1>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
		            {% block content %}
		            {% endblock %}
	            </div>
	        </div>
	    </div>
	</body>
</html>
